body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-section {
    background-image: url("./assets/images/about-us.webp");
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.section-header {
    font-size: 32px;
}