.about-section {
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.section-header {
    font-size: 32px;
}